<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="assets">

	<!-- 전체 조회 -->
	<select id="getAssetsList" parameterType="assets"
		resultType="assets">
		SELECT B.* FROM (SELECT A.*, ROWNUM RN FROM (
		SELECT ASSETS_NUM,
		ASSETS_SEPARATION, ASSETS_PRICE, TO_CHAR(ASSETS_DATE, 'YYYY/MM/DD') AS ASSETS_DATE,
		ASSETS_CONT, CONT_DETAIL,
		MEMBER_ID, RENTAL_NUM
		FROM ASSETS_MANAGE
		<where>
			<if
				test="searchCondition != null and searchCondition == 'memberId'">
				and MEMBER_ID like '%' || #{searchKeyword} || '%'	</if>
		</where>
		ORDER BY ASSETS_DATE DESC
		) A) B WHERE RN BETWEEN #{first} and #{last}
	</select>

	<!-- 한건 조회 -->
	<select id="getAssets" parameterType="assets" resultType="assets">
		SELECT 	ASSETS_NUM, ASSETS_SEPARATION, ASSETS_PRICE, TO_CHAR(ASSETS_DATE, 'YYYY/MM/DD') AS ASSETS_DATE,
				ASSETS_CONT, CONT_DETAIL, MEMBER_ID
		FROM 	ASSETS_MANAGE
		WHERE	ASSETS_NUM=#{assetsNum}
	</select>

	<!-- 등록 -->
	<insert id="assetsInsert" parameterType="assets">
		<selectKey keyProperty="assetsNum" resultType="integer"
			order="BEFORE">
			SELECT MAX(ASSETS_NUM)+1 FROM ASSETS_MANAGE
		</selectKey>
		INSERT INTO ASSETS_MANAGE(
		ASSETS_NUM, ASSETS_SEPARATION, ASSETS_PRICE,
		ASSETS_DATE,
		ASSETS_CONT, CONT_DETAIL, MEMBER_ID
		<if test="uploadFileName !=null and uploadFileName !=''">,uploadFileName
			</if>
		)
		VALUES(#{assetsNum},
		#{assetsSeparation}, #{assetsPrice},
		#{assetsDate},
		#{assetsCont}, #{contDetail}, #{memberId}
		<if test="uploadFileName !=null and uploadFileName !=''">, #{uploadFileName}
			</if>
		)

	</insert>

	<!-- 수정 -->
	<update id="assetsUpdate" parameterType="assets">
		UPDAE ASSETS_MANAGE SET
		ASSETS_SEPARATION=#{assetsSeparation},
		ASSETS_PRICE=#{assetsPrice},
		ASSETS_DATE=#{assetsDate},
		ASSETS_CONT=#{assetsCont},
		CONT_DETAIL=#{contDetail},
		MEMBER_ID= #{memberId}
		WHERE
		ASSETS_NUM=#{assetsNum}
	</update>

	<!-- 건수 -->
	<select id="getCount" resultType="int" parameterType="assets">
		SELECT COUNT(*)
		FROM ASSETS_MANAGE
		<where>
			<if
				test="searchCondition != null and searchCondition == 'memberId'">
				and MEMBER_ID like '%' || #{searchKeyword} || '%'	</if>
		</where>
	</select>
</mapper>