<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">

	<!-- 전체 조회 -->
	<select id="adminGetBookList" parameterType="book"
		resultType="book">
		SELECT B.* FROM (SELECT A.*, ROWNUM RN FROM (
		SELECT BOOK_TITLE, BOOK_WRITER, BOOK_COMP, BOOK_LOC, ISBN
		FROM BOOK
		<where>
			<if
				test="searchCondition != null and searchCondition == 'booktitle'">
				and book_Title like '%' || #{searchKeyword} || '%'	</if>
			<if
				test="searchCondition != null and searchCondition == 'bookwriter'">
				and book_Writer like '%' || #{searchKeyword} || '%' </if>
			<if
				test="searchCondition != null and searchCondition == 'bookcomp'">
				and book_Comp like '%' || #{searchKeyword} || '%' </if>
		</where>
		ORDER BY BOOK_TITLE
		) A) B WHERE RN BETWEEN #{first} and #{last}
	</select>

	<!-- 1건 조회 -->
	<select id="adminGetBook" parameterType="book" resultType="book">
		SELECT ISBN, BOOK_TITLE, BOOK_CONT, BOOK_WRITER, BOOK_COMP,
		BOOK_GENRE, BOOK_AMOUNT, BOOK_LOC, DUE_DATE, BOOK_IMG
		FROM (SELECT B.ISBN, B.BOOK_TITLE, B.BOOK_CONT, B.BOOK_WRITER,
		B.BOOK_COMP, BOOK_IMG,
		B.BOOK_GENRE, B.BOOK_AMOUNT, B.BOOK_LOC, TO_CHAR(R.DUE_DATE, 'YYYY/MM/DD')AS
		DUE_DATE
		FROM RENTAL R, BOOK B
		WHERE R.ISBN = B.ISBN
		AND R.DUE_DATE = (SELECT MAX(DUE_DATE)
		FROM RENTAL
		WHERE ISBN = #{isbn})
		UNION
		SELECT B.ISBN, B.BOOK_TITLE, B.BOOK_CONT, B.BOOK_WRITER, B.BOOK_COMP,
		BOOK_IMG,
		B.BOOK_GENRE, B.BOOK_AMOUNT, B.BOOK_LOC, TO_CHAR(R.DUE_DATE, 'YYYY/MM/DD')AS
		DUE_DATE
		FROM RENTAL R, BOOK B
		WHERE R.ISBN(+) = B.ISBN
		AND B.ISBN = #{isbn})
		WHERE ROWNUM = 1
	</select>

	<!-- 건수 -->
	<select id="getCount" resultType="int" parameterType="book">
		SELECT COUNT(*)
		FROM BOOK
		<where>
			<if
				test="searchCondition != null and searchCondition == 'booktitle'">
				and book_Title like '%' || #{searchKeyword} || '%'	</if>
			<if
				test="searchCondition != null and searchCondition == 'bookwriter'">
				and book_Writer like '%' || #{searchKeyword} || '%' </if>
			<if
				test="searchCondition != null and searchCondition == 'bookcomp'">
				and book_Comp like '%' || #{searchKeyword} || '%' </if>
		</where>

	</select>

	<!-- 전체 조회 -->
	<select id="getBookList" parameterType="book" resultType="book">
		SELECT B.* FROM (SELECT A.*, ROWNUM RN FROM (
		SELECT BOOK_TITLE, BOOK_WRITER, BOOK_COMP, BOOK_LOC, ISBN
		FROM BOOK

		<where>
			<if
				test="searchCondition != null and searchCondition == 'booktitle'">
				and book_Title like '%' || #{searchKeyword} || '%'	</if>
			<if
				test="searchCondition != null and searchCondition == 'bookwriter'">
				and book_Writer like '%' || #{searchKeyword} || '%' </if>
			<if
				test="searchCondition != null and searchCondition == 'bookcomp'">
				and book_Comp like '%' || #{searchKeyword} || '%' </if>
		</where>

		ORDER BY BOOK_TITLE
		) A) B WHERE RN BETWEEN #{first} and #{last}

	</select>

	<!-- 1건 조회 -->
	<select id="getBook" parameterType="book" resultType="book">
		SELECT ISBN, BOOK_TITLE, BOOK_CONT, BOOK_WRITER, BOOK_COMP,
		BOOK_GENRE, BOOK_AMOUNT, BOOK_LOC, DUE_DATE, BOOK_IMG
		FROM (SELECT B.ISBN, B.BOOK_TITLE, B.BOOK_CONT, B.BOOK_WRITER,
		B.BOOK_COMP, BOOK_IMG,
		B.BOOK_GENRE, B.BOOK_AMOUNT, B.BOOK_LOC, TO_CHAR(R.DUE_DATE, 'YYYY/MM/DD')AS
		DUE_DATE
		FROM RENTAL R, BOOK B
		WHERE R.ISBN = B.ISBN
		AND R.DUE_DATE = (SELECT MAX(DUE_DATE)
		FROM RENTAL
		WHERE ISBN = #{isbn})
		UNION
		SELECT B.ISBN, B.BOOK_TITLE, B.BOOK_CONT, B.BOOK_WRITER, B.BOOK_COMP,
		BOOK_IMG,
		B.BOOK_GENRE, B.BOOK_AMOUNT, B.BOOK_LOC, TO_CHAR(R.DUE_DATE, 'YYYY/MM/DD')AS
		DUE_DATE
		FROM RENTAL R, BOOK B
		WHERE R.ISBN(+) = B.ISBN
		AND B.ISBN = #{isbn})
		WHERE ROWNUM = 1
	</select>

	<!-- 도서 입력 -->
	<insert id="adminInsertBook" parameterType="book">
		INSERT INTO
		BOOK (ISBN, BOOK_TITLE, BOOK_CONT, BOOK_WRITER, BOOK_COMP,
		BOOK_GENRE, BOOK_AMOUNT, BOOK_LOC)
		VALUES (#{isbn}, #{bookTitle}, #{bookCont},
		#{bookWriter}, #{bookComp}, #{bookGenre},
		#{bookAmount}, #{bookLoc})
	</insert>


	<!-- 수정 -->
	<update id="adminUpdateBook" parameterType="book">
		UPDATE BOOK SET
		BOOK_TITLE= #{bookTitle}, BOOK_CONT= #{bookCont}, BOOK_WRITER=
		#{bookWriter}, BOOK_COMP= #{bookComp},
		BOOK_GENRE= #{bookGenre}, BOOK_AMOUNT= #{bookAmount}, BOOK_LOC= #{bookLoc}
		WHERE
		ISBN = #{isbn}
	</update>

	<!-- 인기도서 출력 -->
	<select id="topBookList" parameterType="book" resultType="book">
		 SELECT B.* FROM (SELECT A.*, ROWNUM RN FROM (
  select * from (select b.isbn, book_title, count(book_cont) as book_cont from book a join rental b on a.isbn = b.isbn
group by b.isbn, book_title
order by book_cont desc)
) A) B WHERE RN BETWEEN #{first} and #{last}
	</select>
</mapper>
