<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">

	<select id="getEventDetail" parameterType="event" resultType="event">
		
		SELECT EVENT_NUM, EVENT_TITLE, EVENT_CONT, START_DATE, END_DATE, WRITE_DATE
		FROM EVENT

		WHERE EVENT_NUM = #{eventNo}

	</select>
 
 	<!-- 진행중인 이벤트 리스트 -->
	<select id="getOngoingEvent" resultType="event">

		SELECT EVENT_NUM, EVENT_TITLE, EVENT_CONT, START_DATE, END_DATE, WRITE_DATE
		FROM EVENT
		
		WHERE SYSDATE <![CDATA[ < ]]> END_DATE
		AND SYSDATE <![CDATA[ > ]]> START_DATE

	</select>
	
	<!-- 진행예정 이벤트 리스트 -->
	<select id="getAheadEvent" resultType="event">

		SELECT EVENT_NUM, EVENT_TITLE, EVENT_CONT, START_DATE, END_DATE, WRITE_DATE
		FROM EVENT
		
		WHERE SYSDATE <![CDATA[ < ]]> END_DATE
		AND SYSDATE <![CDATA[ < ]]> START_DATE

	</select>
</mapper>
	
	
