<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="read">
	<select id="setRoom" resultType="read">
		select SEAT_NUM,
			   STATUS
		from READINGROOM
		where SEAT_NUM like #{room} || '%'
	</select>
	
	<update id="saveSeat" parameterType="read">
		update READINGROOM
		set STATUS = '1'
		where  SEAT_NUM in
		<foreach collection="seat" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</update>
	
	<update id="releaseSeat" parameterType="read">
		update READINGROOM
		set STATUS = '0'
		where  SEAT_NUM not in
		<foreach collection="seat" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</update>
	
	<select id="overlap" resultType="read"> 
		select SEAT_NUM,
			   STATUS
		from   READINGROOM
		where SEAT_NUM =  #{selectSeat}
	</select>
	
</mapper>