<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="read">
	<select id="setRoom" resultType="read">		<!-- 열람실 room 선택 -->
		select SEAT_NUM,
		to_number(SUBSTR(seat_num,2,2)) as "row",
		 to_number(SUBSTR(seat_num,4,2)) as "col",
			   STATUS
		from READINGROOM
		where SEAT_NUM like #{room} || '%'
	</select>
	
	
	<select id="getroomsize" resultType="map">
		select to_number(max(SUBSTR(seat_num,2,2))) as "row", to_number(max(SUBSTR(seat_num,4,2))) as "col"
		from readingroom
		where seat_num like #{room} || '%'
	</select>
	
	<update id="saveSeat" parameterType="read">		<!-- 좌석 저장(관리자) -->
		update READINGROOM
		set STATUS = '1'
		where  SEAT_NUM in
		<foreach collection="seat" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</update>
	
	<update id="releaseSeat" parameterType="read">		<!-- 좌석 해제(관리자) -->
		update READINGROOM
		set STATUS = '0'
		where  SEAT_NUM not in
		<foreach collection="seat" item="item" open="(" close=")" separator=",">
				#{item}
		</foreach>
	</update>
	
	<select id="overlap" resultType="read"> 		<!-- 중복 좌석 확인 -->
		select SEAT_NUM,
			   STATUS
		from   READINGROOM
		where SEAT_NUM =  #{selectSeat}
	</select>
	
	<update id="updateSeat" parameterType="read">									<!-- 좌석 사용 변경 -->
		update READINGROOM
		set STATUS = '2'
		where SEAT_NUM = #{selectSeat}
	</update>
	
	<insert id="insertUsing" parameterType="read">							<!-- 좌석 로그 입력 -->
		insert into 
		READINGROOM_HISTORY(READINGROOM_NUM, END_TIME, MEMBER_ID, SEAT_NUM, START_TIME)
					 values(READING_SEQ.NEXTVAL, sysdate+1/24, #{loginId}, #{selectSeat}, sysdate)
	</insert>
	

	<insert id="timecheck" statementType="CALLABLE">		<!-- 프로시저는 insert,update, delete 사용 가능 -->
		{call P_readingroom_timeck()}	
	</insert>
	
	<select id="seat_useing" parameterType="string" resultType="string">		<!-- 본인 좌석 확인 -->
		select SEAT_NUM
		from READINGROOM_HISTORY
		where to_char(end_time,'yyyymmdd') = to_char(sysdate,'yyyymmdd')
		and MEMBER_ID = #{value}
		AND to_char(end_time,'YYYYMMDDHH24MISS') > TO_CHAR (SYSDATE, 'YYYYMMDDHH24MISS')
	</select>
	
	<select id="usetimer" resultType="string" parameterType="string">				<!-- 남은 시간 (시,분,초) -->
		select END_TIME
		from READINGROOM_HISTORY
		where to_char(end_time,'yyyymmdd') = to_char(sysdate,'yyyymmdd')
		and MEMBER_ID =  #{loginId}
		AND to_char(end_time,'YYYYMMDDHH24MISS') > TO_CHAR (SYSDATE, 'YYYYMMDDHH24MISS')	
	</select>
	
	
	<insert id="return_seat" statementType="CALLABLE"  parameterType="read">
		{call P_return_seat(#{selectSeat, mode=IN, jdbcType=VARCHAR, javaType=string},
						    #{loginId, mode=IN, jdbcType=VARCHAR, javaType=string})
	</insert>
	
	<select id="remaining" resultType="string">
		select floor((( to_date(to_char(end_time,'yyyymmdd hh24:mi:ss'),'yyyymmdd hh24:mi:ss') - sysdate)*24*60))
		from   readingroom_history
		where  member_id = #{value}
		AND to_char(end_time,'YYYYMMDDHH24MISS') > TO_CHAR (SYSDATE, 'YYYYMMDDHH24MISS')
	</select>
	
	<update id="extension">
		update readingroom_history
		set end_time = sysdate + 3/24
		where to_char(end_time,'yyyymmdd') = to_char(sysdate,'yyyymmdd')
		and MEMBER_ID = #{loginId}
		AND to_char(end_time,'YYYYMMDDHH24MISS') > TO_CHAR (SYSDATE, 'YYYYMMDDHH24MISS')
	</update>
 
</mapper>