<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rental">

<!-- 대출현황 -->
	<select id="getRentalList" parameterType="rental"
	resultType="rental">

	SELECT	 R.RENTAL_NUM, B.ISBN, B.BOOK_TITLE, B.BOOK_COMP, B.BOOK_WRITER, R.RENTAL_DATE,
			R.RETURN_DATE
	FROM	 BOOK B JOIN RENTAL R
	ON 		(B.ISBN=R.ISBN)


	<where>
		<if test=" loginId != null">
			AND MEMBER_ID = #{loginId} AND WHERE RENTURN_DATE IS NULL
		</if>
	</where>
</select>

	<!-- 대출이력 -->


</mapper>