<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rental">

<!-- 대출현황 -->
	<select id="getRentalList" parameterType="rental"
	resultType="rental">

	SELECT	 R.RENTAL_NUM, B.ISBN, B.BOOK_TITLE, B.BOOK_COMP, B.BOOK_WRITER, TO_CHAR(R.RENTAL_DATE, 'YYYY/MM/DD'),
			R.RETURN_DATE, R.MEMBER_ID
	FROM	 BOOK B JOIN RENTAL R
	ON 		(B.ISBN=R.ISBN)

	<where>
		<if test=" loginId != null">
			AND RETURN_DATE IS NULL AND MEMBER_ID = #{loginId}
		</if>
	</where>
</select>



</mapper>