<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">

	<!-- 리뷰 조회 -->
	<select id="getReviewList" resultType="review"	parameterType="review">
		<!-- SELECT REVIEW_TITLE, MEMBER_ID FROM REVIEW WHERE ISBN = #{isbn} -->
		
		 SELECT * FROM BOOK INNER JOIN REVIEW
		ON
		BOOK.ISBN = REVIEW.ISBN
		WHERE REVIEW.ISBN=#{isbn}
		ORDER BY MAX(REVIRE_POINT) DESC
		<!-- <![CDATA[
		WHERE RN <= #{pageUnit}
		]]> -->
	</select>

	<!-- 리뷰 등록 -->
	<select id="insertReview" parameterType="review">
		INSERT INTO REVIEW(ISBN, REVIEW_TITLE, REVIEW_CONT, REVIEW_POINT, MEMBER_ID)
		VALUES (#{isbn}, #{reviewTitle}, #{reviewCont}, #{reviewPoint}, #{memberId})
	</select>

	<!-- 리뷰 수정 -->
	<update id="updateReview" parameterType="review">
		UPDATE REVIEW SET
		REVIEW_TITLE=#{reviewTitle},
		REVIEW_CONT=#{reviewCont},
		REVIEW_POINT=#{reviewPoint}
		WHERE MEMBER_ID=#{memberId} AND ISBN=#{isbn}
	</update>

	<!-- 삭제 -->
	<delete id="deleteReview" parameterType="review">
		DELETE FROM REVIEW WHERE MEMBER_ID= #{memberId} AND ISBN= #{isbn}
	</delete>
</mapper>