<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">

	<!-- 리뷰 조회 -->
	<select id="getReviewList" resultType="review"
		parameterType="review">
		<!-- SELECT REVIEW_TITLE, MEMBER_ID FROM REVIEW WHERE ISBN = #{isbn} -->

		SELECT	REVIEW.ISBN, REVIEW.REVIEW_TITLE, REVIEW.REVIEW_CONT,
				REVIEW.REVIEW_POINT, REVIEW.MEMBER_ID, REVIEW.REVIEW_NUM, REVIEW.REVIEW_DATE, BOOK.ISBN, BOOK.BOOK_TITLE
		FROM	BOOK JOIN REVIEW
		ON		BOOK.ISBN = REVIEW.ISBN
		WHERE 	REVIEW.ISBN=#{isbn}

		<!-- <![CDATA[ WHERE RN <= #{pageUnit} ]]> -->
	</select>

	<!-- 리뷰 등록 -->
	<insert id="insertReview" parameterType="review">
		<selectKey keyProperty="reviewNum" resultType="integer"	order="BEFORE">
			SELECT NVL(MAX(REVIEW_NUM), 0) + 1 FROM REVIEW
		</selectKey>
		INSERT INTO REVIEW (ISBN, REVIEW_TITLE, REVIEW_CONT, REVIEW_POINT,
				MEMBER_ID, REVIEW_NUM, REVIEW_DATE)
		VALUES (${isbn}, #{reviewTitle}, #{reviewCont}, #{reviewPoint}, #{memberId},
				#{reviewNum}, sysdate)
	</insert>

	<!-- 리뷰 수정 -->
	<update id="updateReview" parameterType="review">
		UPDATE 	REVIEW SET
				REVIEW_TITLE=#{reviewTitle},
				REVIEW_CONT=#{reviewCont},
				REVIEW_POINT=#{reviewPoint}
		WHERE 	MEMBER_ID=#{memberId} AND ISBN=${isbn} AND REVIEW_NUM=#{reviewNum}
	</update>

	<!-- 삭제 -->
	<delete id="deleteReview" parameterType="review">
		DELETE REVIEW WHERE
		MEMBER_ID=#{memberId} AND REVIEW_NUM=#{reviewNum}
	</delete>
</mapper>