<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study">
		
	<insert id="insertStudy" parameterType="study">	
		INSERT INTO STUDY(
			STUDY_NUM,
			STUDY_NAME,
			STUDY_SUBJECT,
			STUDY_TIME,
			STUDY_DATE,
			RECRUIT_END,
			RECRUIT_PERSON,
			STATUS,
			STUDYROOM_NUM,
			MEMBER_ID
			)
			VALUES( 
				SELECT NVL(MAX(STUDY_NUM),0)+1 FROM STUDY,
				#{studyName}, 
				#{studySubject}, 
				#{studyTime}, 
				SYSDATE,
				#{recruitEnd},
				#{recruitPerson},
				'true',
				#{studyroomNum},
				#{memberId}
				)	
	</insert>
	
</mapper>