<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<select id="getUser" parameterType="user" resultType="user">
		SELECT ID, PASSWORD, NAME, PHONE, BIRTH, EXP_DATE, MEM_SEPARATION, OUT_COUNT, ADDRESS,GENDER
		FROM MEMBER
		
		<!-- <if test="searchKeyword != null and searchKeyword ==''">
      		WHERE ${searchCondition} like '%' || #{searchKeyword} || '%'
      	</if> -->
		
		WHERE ID = #{id}
	
	</select>
	
	<select id="getUserList" resultType="user">

		SELECT ID, PASSWORD, NAME, PHONE, BIRTH, EXP_DATE, MEM_SEPARATION, OUT_COUNT, ADDRESS, GENDER
		FROM MEMBER
		WHERE MEM_SEPARATION = 'user'
	</select>
	
	
	<insert id="insertUser" parameterType="user">
	
		INSERT INTO MEMBER(ID, PASSWORD, NAME, PHONE, BIRTH, EXP_DATE, MEM_SEPARATION, OUT_COUNT, ADDRESS, GENDER) 
		VALUES( #{id}, #{password}, #{name}, #{phone}, #{birth}, ADD_MONTHS(SYSDATE,+12),'user',0, #{address}, #{gender})
	
	</insert>
	
	<select id="checkId" parameterType="user" resultType="int">
	
		SELECT COUNT(*)
    	FROM MEMBER WHERE ID=#{id}
    	
	</select>
	
	<select id="findId" parameterType="user" resultType="user">
	
		SELECT ID
		FROM MEMBER
		WHERE NAME = #{name}
		AND PHONE = #{phone}
	
	</select>
	
	<select id="findPwd" parameterType="user" resultType="user">
	
		SELECT PASSWORD
		FROM MEMBER
		WHERE ID = #{id}
		AND NAME = #{name}
		AND PHONE = #{phone}
	
	</select>
	
	
	<select id="adminTabOne" parameterType="user" resultType="map">
	
		SELECT ID userid, NAME username
		FROM MEMBER
		
		SELECT NOTICE_NUM noticenum, NOTICE_TITLE noticetitle
		FROM NOTICE
		
		SELECT STUDY_NUM studynum, STUDY_NAME studyname
		FROM STUDY
	
	</select>
	

</mapper> 