<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishbook">


<!--  admin 희망도서 전체 조회 -->
	<select id="adminWishBookList" parameterType="wishbook" resultType="wishbook">
	SELECT	B.* FROM (SELECT A.*,  ROWNUM RN FROM (
			SELECT WISH_NUM, ISBN, WISH_TITLE, WISH_WRITER, WISH_COMP, WISH_GENRE,
					MEMBER_ID, WISH_REASON, WISH_STATUS, WISH_PRICE
	FROM	WISH_BOOK
	<where>
		<if
			test="searchCondition != null and searchCondition == 'wishTitle'">
			and WISH_TITLE like '%' || #{searchKeyword} || '%' </if>
		<if
			test="searchCondition != null and searchCondition == 'wishWriter'">
			and WISH_WRITER like '%' || #{searchKeyword} || '%' </if>
		<if test="searchCondition != null and searchCondition == 'isbn'">
			and ISBN like '%' || #{searchKeyword} || '%' </if>
		<if
			test="searchCondition != null and searchCondition == 'memberId'">
			and MEMBER_ID like '%' || #{searchKeyword} || '%' </if>
	</where>
	ORDER BY WISH_NUM DESC
	) A) B WHERE RN BETWEEN #{first} and #{last}

</select>

<!-- admin 희망도서 1건 조회-->
	<select id="adminWishBookDetail" parameterType="wishbook" resultType="wishbook">
	SELECT MEMBER_ID, ISBN, WISH_TITLE, WISH_WRITER, WISH_COMP, WISH_GENRE, MEMBER_ID, WISH_REASON, 
			WISH_STATUS, WISH_PRICE
	FROM WISH_BOOK
	WHERE ISBN=#{isbn}

</select>

<!-- 희망도서 등록-->
	<insert id="adminInsertWishBook" parameterType="wishbook">
		<selectKey keyProperty="wishNum" resultType="integer" order="BEFORE">
			SELECT MAX(WISH_NUM)+ 1 FROM WISh_BOOK
		</selectKey>
			INSERT INTO WISH_BOOK(WISH_NUM, ISBN, WISH_TITLE, WISH_WRITER,  
			WISH_COMP, WISH_GENRE, MEMBER_ID, WISH_REASON, WISH_PRICE)
			VALUES(#{wishNum}, #{isbn}, #{wishTitle}, #{wishWriter}, #{wishComp}, 
				#{wishGenre}, #{memberId}, #{wishReason}, #{wishPrice})
	</insert>
	<!-- 희망도서 수정-->
	<update id="adminUpdateWishBook" parameterType="wishbook">
		UPDATE WISH_BOOK SET WISH_TITLE= #{wishTitle}, WISH_WRITER= #{wishWriter}, WISH_COMP= #{wishComp}, 
							WISH_GENRE= #{wishGenre}, WISH_PRICE= #{wishPrice}, WISH_STATUS= #{wishStatus}
		WHERE 	ISBN= ${isbn}
	</update>

<!-- 희망도서 삭제-->
	<delete id="adminDeleteWishBook" parameterType="wishbook">
	DELETE WISH_BOOK WHERE ISBN=#{isbn}
	</delete> 
	
<!-- 희망도서 선택 삭제 -->
	<delete id="adminDeleteWishBookList" parameterType="wishbook">
		DELETE WISH_BOOK
		<if test="wishNum != null and wishNum.length>0">
			AND WISH_NUM IN
			<foreach collection="wishNum" item="item" index="index" open="("  separator="," close=")">
			#{item}
			</foreach>
			</if>
		<if test="wishNum == null or not wishNum.length=0"> where WISH_NUM=-1</if> 
			
	</delete>
	<!-- user건수 -->
	<select id="userCount" resultType="int">
	SELECT COUNT(*)
	FROM  WISH_BOOK
	<where>
		<if test=" loginId != null">
			AND MEMBER_ID = #{loginId}
		</if>
		<if
			test="searchCondition != null and searchCondition == 'wishTitle'">
			and WISH_TITLE like '%' || #{searchKeyword} || '%' </if>
		<if
			test="searchCondition != null and searchCondition == 'wishWriter'">
			and WISH_WRITER like '%' || #{searchKeyword} || '%' </if>
		<if test="searchCondition != null and searchCondition == 'isbn'">
			and ISBN like '%' || #{searchKeyword} || '%' </if>
	</where>
	</select>
	
	<!-- admin건수 -->
	<select id="adminCount" resultType="int">
	SELECT COUNT(*)
	FROM  WISH_BOOK
	<where>
		<if
			test="searchCondition != null and searchCondition == 'wishTitle'">
			and WISH_TITLE like '%' || #{searchKeyword} || '%' </if>
		<if
			test="searchCondition != null and searchCondition == 'wishWriter'">
			and WISH_WRITER like '%' || #{searchKeyword} || '%' </if>
		<if test="searchCondition != null and searchCondition == 'isbn'">
			and ISBN like '%' || #{searchKeyword} || '%' </if>
		<if
			test="searchCondition != null and searchCondition == 'memberId'">
			and MEMBER_ID like '%' || #{searchKeyword} || '%' </if>
	</where>
	</select>

<!-- user 희망도서 전체 조회 -->
	<select id="getWishBookList" parameterType="wishbook" 	resultType="wishbook">
	SELECT B.* FROM (SELECT A.*, ROWNUM RN FROM (
			SELECT WISH_NUM, ISBN, WISH_TITLE, WISH_WRITER, WISH_COMP, 
					WISH_GENRE, MEMBER_ID, WISH_REASON, WISH_STATUS, WISH_PRICE
	FROM WISH_BOOK
	<where>
		<if test=" loginId != null">
			AND MEMBER_ID = #{loginId}
		</if>
		<if
			test="searchCondition != null and searchCondition == 'wishTitle'">
			and WISH_TITLE like '%' || #{searchKeyword} || '%' </if>
		<if
			test="searchCondition != null and searchCondition == 'wishWriter'">
			and WISH_WRITER like '%' || #{searchKeyword} || '%' </if>
		<if test="searchCondition != null and searchCondition == 'isbn'">
			and ISBN like '%' || #{searchKeyword} || '%' </if>
	</where>
	ORDER BY WISH_NUM DESC
	) A) B WHERE RN BETWEEN #{first} and #{last}
</select>

<!-- 희망도서 1건 조회-->
	<select id="getWishBook" parameterType="wishbook" resultType="wishbook">
	SELECT MEMBER_ID, ISBN, WISH_TITLE, WISH_WRITER, WISH_COMP, WISH_GENRE, MEMBER_ID, WISH_REASON, 
			WISH_STATUS, WISH_PRICE
	FROM WISH_BOOK
	WHERE ISBN=#{isbn}

</select>


<!-- 희망도서 등록-->
	<insert id="insertWishBook" parameterType="wishbook">
		<selectKey keyProperty="wishNum" resultType="integer" order="BEFORE">
			SELECT MAX(WISH_NUM)+ 1 FROM WISh_BOOK
		</selectKey>
			INSERT INTO WISH_BOOK(WISH_NUM, ISBN, WISH_TITLE, WISH_WRITER,  
			WISH_COMP, WISH_GENRE, MEMBER_ID, WISH_REASON, WISH_PRICE)
			VALUES(#{wishNum}, #{isbn}, #{wishTitle}, #{wishWriter}, #{wishComp}, 
				#{wishGenre}, #{memberId}, #{wishReason}, #{wishPrice})
	</insert>


</mapper>



